################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.vs
/**/.vs/PROJECTEVALUATION
/**/bin/
/**/obj
/**/.sonarqube
/src/LogCorner.EduSync.Speech.Query/LogCorner.EduSync.Speech.Presentation/Logs
